/* Media Query Mixins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #EAE4D8;
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 560px) {
  html {
    font-size: 20 px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

span {
  font-family: argent-cf, serif;
  font-weight: 300;
  font-style: italic;
}

.bg {
  background-image: url(images/homepage/background.png);
}

.button {
  padding: 0.5em 2em;
  border: 1px solid #000;
  border-radius: 2em;
  background-color: none;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
  transition-duration: 1s;
}
@media only screen and (max-width: 560px) {
  .button {
    left: 1.5em;
    right: auto;
  }
}
.button:hover {
  cursor: pointer;
  background-color: #fff;
}
.button-logo {
  position: absolute;
  left: 2em;
  top: 2em;
}
.button-menu {
  position: absolute;
  right: 2em;
  top: 2em;
}
.button-article {
  position: fixed;
  width: 10em;
  right: 50%;
  bottom: 1em;
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translate(50%, 0);
}
.button-article .mirror {
  transform: scaleX(-1);
}

.disabled {
  opacity: 0.25;
  cursor: default;
}

.center {
  right: 50%;
  bottom: -1em;
  transform: translateX(50%);
}

.bg_noise {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(https://assets-global.website-files.com/60773a26b10911709d89f04f/61ee5bc830646dc645e35164_download.png);
  background-size: 250px;
  opacity: 0.3;
  mix-blend-mode: overlay;
  z-index: 99;
  border-radius: 30em;
  pointer-events: none;
}

.gradient-align, .gradient-align-menu {
  width: 0%;
  height: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 30em;
  transition: 1s all ease;
}
.gradient-align.active, .gradient-align-menu.active {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.border-lg {
  border-radius: 50em;
}

.background-gradient, .background-gradient-menu {
  position: relative;
  display: flex;
  height: 90vh;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0vh 0em;
  transition: 0.5s all ease;
}
@media only screen and (max-width: 560px) {
  .background-gradient, .background-gradient-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
}
.nav-overlay {
  z-index: 2;
  left: 0;
  position: fixed;
  height: 0%;
  width: 100vw;
  overflow-y: hidden;
  transition: 0.5s;
}
.nav-overlay-content {
  padding-top: 10em;
  height: 100%;
  width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 560px) {
  .nav-overlay-content {
    padding-top: 10em;
    width: auto;
    text-align: center;
  }
}
.nav-overlay-background {
  z-index: -1;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  width: 80%;
  height: 90%;
  margin: auto;
}
.nav-link a {
  padding: 1.5em 0em 1.5em 1.5em;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 200;
  color: white;
  display: block;
  transition: 0.3s;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 560px) {
  .nav-link a {
    padding: 1.5em;
  }
}
.nav-link a:hover, .nav-link a:focus {
  color: white;
}

.header-container {
  padding-left: 140px;
  padding-right: 140px;
  height: 100vh;
  width: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 560px) {
  .header-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header-content {
  margin: auto;
  max-width: 760px;
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  .header-content {
    max-width: 66vw;
  }
}
@media only screen and (max-width: 560px) {
  .header-content {
    max-width: 90vw;
  }
}
.header-content h1 {
  font-size: 8rem;
  line-height: 0.8;
  padding-bottom: 20px;
  text-transform: uppercase;
}
@media only screen and (max-width: 560px) {
  .header-content h1 {
    font-size: 400%;
  }
}
.header-content img {
  position: absolute;
}
.header-image-1 {
  top: -20vh;
  left: 10vw;
}
.header-image-2 {
  top: -5vh;
  right: 5vw;
}
.header-image-3 {
  bottom: 10vh;
  right: -5vw;
}
.header-image-4 {
  bottom: -10vh;
  left: -10vw;
}
.header-image-5 {
  bottom: 30px;
  right: 50;
  transform: translate(-50%, 0);
}

@media only screen and (min-width: 1600px) {
  .mobile-images {
    width: 20%;
  }
}
@media only screen and (max-width: 560px) {
  .mobile-images {
    width: 40%;
  }
}

.front {
  z-index: 2;
}

.homepage-section-container {
  height: 66vh;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 1.5em;
  border-radius: 1.5em;
}
.homepage-section-content h1 {
  margin-left: -80px;
  font-size: 6rem;
  line-height: 0.8;
  padding-bottom: 0.5em;
  text-transform: capitalize;
}
@media only screen and (max-width: 560px) {
  .homepage-section-content h1 {
    margin-left: 0;
    font-size: 10vw;
    padding-bottom: 0.5em;
  }
}
.homepage-section-content p {
  width: 50%;
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
}
@media only screen and (max-width: 560px) {
  .homepage-section-content p {
    width: auto;
    position: static;
    padding-bottom: 1.4em;
  }
}
.homepage-section-content img {
  position: absolute;
}
.homepage-section-repo-image-1 {
  top: -13vh;
  right: 3vw;
}
.homepage-section-repo-image-2 {
  bottom: -10vh;
  right: 15vw;
}
@media only screen and (max-width: 560px) {
  .homepage-section-repo-image-2 {
    right: 5vw;
  }
}
.homepage-section-cpj-image-1 {
  top: -10vh;
  right: 20vw;
}
@media only screen and (max-width: 560px) {
  .homepage-section-cpj-image-1 {
    right: 5vw;
  }
}
.homepage-section-cpj-image-2 {
  bottom: 5vh;
  right: -8vw;
}
.homepage-section-cat-image-1 {
  top: -10vh;
  right: 2vw;
}
@media only screen and (max-width: 560px) {
  .homepage-section-cat-image-1 {
    top: 50vh;
  }
}
.homepage-section-proto {
  text-align: center;
}
.homepage-section-proto h1 {
  margin-left: 0;
  margin-top: -0.7em;
  padding-bottom: 0.5em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 560px) {
  .homepage-section-proto h1 {
    margin-top: -1em;
  }
}
.homepage-section-proto p {
  margin: auto;
  position: static;
}

.section {
  padding: 0 2em 0 2em;
  position: relative;
}
@media only screen and (max-width: 560px) {
  .section {
    padding: 0 1em 0 1em;
  }
}
.section-title {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 6em;
  line-height: 0.8;
}
@media only screen and (max-width: 560px) {
  .section-title {
    font-size: 1.8em;
    text-align: center;
    bottom: auto;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.section-container {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 6.25em;
  padding-bottom: 2em;
  row-gap: 1em;
}
@media only screen and (max-width: 560px) {
  .section-container {
    row-gap: 0.25em;
  }
}
.section-content {
  border-radius: 2em;
  background-color: #000;
  transition: 0.5s;
  width: 32%;
  padding: 1.5em;
}
.section-content:hover {
  transform: translate(0, -1em);
}
@media only screen and (max-width: 560px) {
  .section-content {
    height: auto;
    margin-bottom: 0.5em;
  }
}
.section-content h3 {
  font-size: 1.5em;
  font-weight: 300;
}
.section-content h1 {
  font-size: 2em;
  text-transform: capitalize;
  line-height: 0.8;
}
@media only screen and (max-width: 560px) {
  .section-content {
    width: auto;
  }
  .section-content h3 {
    font-size: 1em;
  }
  .section-content h1 {
    font-size: 2.3em;
  }
}

.height-90 {
  height: 95vh;
}

.scroll {
  width: 75vw;
  margin-left: auto;
}
@media only screen and (max-width: 560px) {
  .scroll {
    width: auto;
  }
}

.article {
  padding: 0em 8.75em;
}
@media only screen and (max-width: 560px) {
  .article {
    padding: 0px 2em;
  }
}

.content-header {
  height: 100vh;
  display: flex;
}
.content-title {
  margin: auto;
  font-size: 6rem;
  inline-size: 60vw;
  text-align: center;
  line-height: 1;
  mix-blend-mode: overlay;
}
@media only screen and (max-width: 560px) {
  .content-title {
    inline-size: 90vw;
    font-size: 3rem;
  }
}

.intro {
  display: flex;
  padding: 2em 0em;
}

.col-8 {
  display: grid;
  margin: auto;
  grid-column-gap: 1.7em;
  grid-template-rows: auto;
  grid-auto-columns: 2fr;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 4em;
}
@media only screen and (max-width: 560px) {
  .col-8 {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
}

.col-6 {
  display: grid;
  margin: auto;
  grid-column-gap: 3.2em;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4em;
}
@media only screen and (max-width: 560px) {
  .col-6 {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
}

.col-4 {
  display: grid;
  margin: auto;
  grid-column-gap: 3.2em;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1.5em;
}
@media only screen and (max-width: 560px) {
  .col-4 {
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
}

.big {
  font-size: 3.1rem;
  line-height: 1;
}
@media only screen and (max-width: 560px) {
  .big {
    font-size: 2rem;
    text-align: center;
  }
}

.regular {
  font-size: 1.3rem;
  line-height: 1.3;
  padding-top: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2em 12em;
}
@media only screen and (max-width: 560px) {
  .content {
    padding: 2em 0em;
  }
}
.content-wide {
  padding: 2em 0em;
}

.mainPoint {
  font-size: 5em;
  line-height: 1;
  text-align: center;
  padding-bottom: 0.5em;
}
@media only screen and (max-width: 560px) {
  .mainPoint {
    font-size: 2em;
  }
}

.subPoint {
  padding-top: 0.5em;
  font-size: 2em;
  line-height: 1.5;
}
@media only screen and (max-width: 560px) {
  .subPoint {
    font-size: 1.5em;
  }
}

.image-12 {
  display: flex;
  padding: 2em 0em;
}
.image-12 img {
  margin: auto;
  border-radius: 10em;
}

.quoteBlock {
  width: 60vw;
  display: flex;
  padding: 2em 0em;
  flex-direction: column;
}
@media only screen and (max-width: 560px) {
  .quoteBlock {
    width: auto;
  }
}

.quote {
  font-size: 2.2em;
  line-height: 1;
  margin-top: auto;
  padding-bottom: 0.5em;
}
@media only screen and (max-width: 560px) {
  .quote {
    font-size: 1.5em;
  }
}
.quote-name {
  font-weight: 200;
  margin-bottom: auto;
}

#repo {
  color: #CCFF00;
}

#cpj {
  color: #FF005C;
}

#cat {
  color: #0066FF;
}

#proto {
  color: #33FF00;
}

.repo {
  color: #CCFF00;
}
.repo a {
  color: #CCFF00;
}
.repo-col {
  background: transparent;
  background: -webkit-radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#CCFF00",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.repo-bg {
  background-image: url(images/homepage/section-repo-bg.jpg);
  background-position: center;
}
.repo-bg-1 {
  background-image: url(images/sections/repo/repo-home/repo-home-image-1.jpg);
  background-position: center;
}
.repo-bg-2 {
  background-image: url(images/sections/repo/repo-home/repo-home-image-2.jpg);
  background-position: center;
}
.repo-bg-3 {
  background-image: url(images/sections/repo/repo-home/repo-home-image-3.jpg);
  background-position: 80%;
}
.repo-nav:hover {
  background: transparent;
  background: -webkit-radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #CCFF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#CCFF00",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.repo-bg-col:hover {
  background-color: #CCFF00;
}

.cpj {
  color: #FF005C;
}
.cpj a {
  color: #FF005C;
}
.cpj-col {
  background: transparent;
  background: -webkit-radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF005C",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.cpj-bg {
  background-image: url(images/homepage/section-cpj-bg.jpg);
  background-position: center;
}
.cpj-nav:hover {
  background: transparent;
  background: -webkit-radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #FF005C, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF005C",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.cpj-bg-col:hover {
  background-color: #FF005C;
}

.cat {
  color: #0066FF;
}
.cat-col {
  background: transparent;
  background: -webkit-radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0066FF",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.cat-bg {
  background-image: url(images/homepage/section-cat-bg.jpg);
  background-position: center;
}
.cat-nav:hover {
  background: transparent;
  background: -webkit-radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #0066FF, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0066FF",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.cat-bg-col:hover {
  background-color: #0066FF;
}

.proto {
  color: #33FF00;
}
.proto-col {
  background: transparent;
  background: -webkit-radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33FF00",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.proto-bg {
  background-image: url(images/homepage/section-proto-bg.jpg);
  background-position: top;
}
.proto-nav:hover {
  background: transparent;
  background: -webkit-radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: -moz-radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  background: radial-gradient(circle, #33FF00, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#33FF00",endColorstr="transparent",GradientType=1);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.proto-bg-col:hover {
  background-color: #33FF00;
}

.ranCol-0 {
  background: #1a416e;
  background: -moz-linear-gradient(135deg, #1a416e 0%, #00b9c6 50%, #f7f2d4 100%);
  background: -webkit-linear-gradient(135deg, #1a416e 0%, #00b9c6 50%, #f7f2d4 100%);
  background: linear-gradient(135deg, #1a416e 0%, #00b9c6 50%, #f7f2d4 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.ranCol-1 {
  background: #00de59;
  background: -moz-linear-gradient(135deg, #00de59 0%, #ffef5c 50%, #ff7a00 100%);
  background: -webkit-linear-gradient(135deg, #00de59 0%, #ffef5c 50%, #ff7a00 100%);
  background: linear-gradient(135deg, #00de59 0%, #ffef5c 50%, #ff7a00 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.ranCol-2 {
  background: #fff4cc;
  background: -moz-linear-gradient(135deg, #fff4cc 0%, #ffb450 50%, #00b9c6 100%);
  background: -webkit-linear-gradient(135deg, #fff4cc 0%, #ffb450 50%, #00b9c6 100%);
  background: linear-gradient(135deg, #fff4cc 0%, #ffb450 50%, #00b9c6 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.ranCol-3 {
  background: #1cf0ff;
  background: -moz-linear-gradient(135deg, #1cf0ff 0%, #9379fc 50%, #fcc479 100%);
  background: -webkit-linear-gradient(135deg, #1cf0ff 0%, #9379fc 50%, #fcc479 100%);
  background: linear-gradient(135deg, #1cf0ff 0%, #9379fc 50%, #fcc479 100%);
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.footer {
  padding: 2.6rem;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-areas: "name links2 text" "links1 links2 text";
  column-gap: 1rem;
}
@media only screen and (max-width: 560px) {
  .footer {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "name" "links1" "links2" "text";
  }
}
.footer a {
  color: #000;
  transition: 1s all ease;
  border-radius: 2em;
}
.footer a:hover {
  padding: 0.5em 1em;
}
.footer-name {
  font-size: 150%;
  font-weight: 700;
  padding-bottom: 1rem;
  grid-area: name;
}
.footer-content {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.footer-content a {
  line-height: 2;
}
.footer .col1 {
  grid-area: links1;
  justify-self: start;
}
@media only screen and (max-width: 560px) {
  .footer .col1 {
    justify-self: auto;
  }
}
.footer .col2 {
  grid-area: links2;
  align-self: start;
  justify-self: start;
}
@media only screen and (max-width: 560px) {
  .footer .col2 {
    justify-self: auto;
  }
}
.footer .col3 {
  grid-area: text;
  align-self: start;
}

/*# sourceMappingURL=main.css.map */
