.bg_noise {
  width:100%; 
  height:100%;
  position:absolute;
  left: 0;
  top: 0;
    background-image: url(https://assets-global.website-files.com/60773a26b10911709d89f04f/61ee5bc830646dc645e35164_download.png);
    background-size: 250px;
    opacity: 0.3;
    mix-blend-mode: overlay;
    z-index: 99;
    border-radius: 30em;
    pointer-events: none;
}

.gradient-align, .gradient-align-menu {
  width:0%; 
  height:0%; 
  position:absolute; 
  left:50%; top:50%;

  border-radius: 30em;
  transition: 1s all ease;

  &.active{
    width:100%; 
    height:100%; 
    left:0; top:0;
  }

}

.border-lg {border-radius: 50em;}

.background-gradient, .background-gradient-menu {
  position: relative;
  display: flex;
  height: 90vh;
  padding-left: 140px;
  padding-right: 140px;
  @include bp-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
  margin: 0vh 0em;
  transition: 0.5s all ease;

  // &.active {
  //   margin: 5vh 1.5em;
  // }
}

// hover doesn't work on ids cos it's not affecting the class that contains the colours and noise.
// easiest fix is to make more classes to split the scroll reveal and mouseover active / inactive functions
// cos currently with just the scroll reveal, it reveals all gradients at the same time which lags everything
// also to find out optimise options for safari and more

// #nav-bg0:hover {
//   width:100%; 
//   height:100%; 
//   left:0; top:0;
// }